@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{ margin: 0; padding: 0; }


.box1{
    width: 100%;
    height: 796px;
    background-image: url(img/bg01.png);
    background-position: center;
    background-size: cover; }
.cont1{
    width: 1100px;
    height: 796px;
    margin: 0 auto;
    position: relative; }
.logo{
    position: absolute;
    top: 37px; }
.title{
    position: absolute;
    top: 307px; }
.can1{
    position: absolute;
    bottom: 0;
    right: 34px;
    width: 415px;
    height: 674px; }

    
.box2{
    width: 100%;
    height: 285px;
    background-color: #FFA8AA; }
.cont2{
    width: 1100px;
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
.slogan{
    width: 1100px;
    height: 72px; }

    
.box3{
    width: 100%;
    height: 1194px;
    background-image: url(img/bg02.png);
    background-size: cover; }
.cont3{
    width: 1100px;
    height: 979px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative; }
.can2{
    width: 1100px;
    height: 844px;
    position: absolute;
    top: 350px; }

    
.box4{
    width: 100%;
    height: 214px;
    text-align: center; }
.cont4{
    width: 111px;
    height: 97px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 45px; }    

    
.box5{
    width: 100%;
    height: 368px; }
.cont5{
    width: 706px;
    height: 382px;
    margin: 0 auto;
 }
.txt{
    width: 706px;
    height: 280px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #707070;  }


.box6{
    width: 100%;
    height: 733px; }
.cont6{
    width: 100%;
    height: 733px;
    margin: 0 auto;
    text-align: center;
    background-image: url(img/bg03.png); }
.cont6 > img{
    padding-top: 63px;}


.box7{
    width: 100%;
    height: 967px; }
.cont7{
    width: 1100px;
    height: 967px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    position: relative; }


.box8{
    width: 100%;
    height: 590px;    
    background-image: url(img/bg04.png);
    background-position: center;
    background-size: cover;
 }
.cont8{
    width: 1100px;
    height: 590px;
    margin: 0 auto; }
.cont8 > img{
    padding-top: 43px;
    padding-left: 302px; }